:root {
    --left-margin-of-container: 40px;
    background-color: black;
}

.app-div {
    color: white;
}
h1 > img {
    height: 50px;
    width: 100px;
    object-fit: cover;
    margin: 12px 0 20px var(--left-margin-of-container);
}

.section-h2 {
    margin-left: var(--left-margin-of-container);
    font-weight: normal;
}
.div-before-div-before-image {
    display: flex;
    overflow-x: scroll;
    margin-left: var(--left-margin-of-container);
}

.div-before-image {
    margin-left: 0;
    flex-shrink: 0;
}
.div-before-image > img {
    height: 124px;
    width: 220px;
}
